ul {
    margin: 0;
    padding: 0;
}

.text-shortcut {
    margin-left: 4px;
}

.icon {
    margin-right: 4px;
}

button.panel-section-footer-button {
    padding: 12px;
    border: none;
    margin: 0;
}
