ul {
    margin: 0;
    padding: 0;
}

.text-shortcut {
    margin-left: 4px;
}

.icon {
    margin-right: 4px;
    height: 1.2em;
    width: 1.2em;
}

button.panel-section-footer-button {
    padding: 12px;
    border: none;
    margin: 0;
    box-shadow: none;
    background-color: none;
}
