name: checks
on: [push, pull_request]
jobs:
  lint-js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm ci --no-audit
      - run: npm run lint:js
  lint-css:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm ci --no-audit
      - run: npm run lint:css
  lint-editorconfig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm ci --no-audit
      - run: npm run lint:ec
  lint-webext:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: freaktechnik/web-ext-lint@v1
  test:
    runs-on: ubuntu-latest
    needs: [ lint-js, lint-css, lint-editorconfig, lint-webext ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm ci --no-audit
      - run: npm run test:js
      - uses: codecov/codecov-action@v1
